.pm-list {
    clear: both;
}

.pm-author-avatar img{
    border-radius: 3px;
    height: 48px;
}

.pm-item-left{
    margin-right: 10px;
    float: left;
}

.pm-item-right {
    margin-left: 10px;
    float: right;
}

.pm-item-right {
    margin-left: 10px;
    float: right;
}

.pm-item {
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px 15px 15px;
    background: #EEE;
    width: 400px;
}